/* Custom  Font background for footer and header*/
main{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.bg-header-footer{background-color: #1A1A1A;}

/* Swiper Hero Utils*/
.hero-swiper-slide {
  width: 100%;
}
.hero-swiper-slide img {
  width: 100%;
  height: auto;
  max-height: max-content;
  object-fit: cover;
}

/* Header image*/
.navbar-brand img{
  height: auto;
  max-height: 90px;
}

/* Brands image utilities*/
.logo-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: auto;
}
.logo-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}



/* Footer */
#footer-logo{
  height: auto;
  max-height: 200px;
}


/* Product Page  Swiper.js*/
.productSwiper1{
  width: auto;
  height: auto; 
  max-width: 500px;
  max-height: 500px;     
  
}
.productSwiper1 img,
.productSwiper2 img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.productSwiper2 {
  max-height: 100px;
  overflow: hidden;
}


/* Wishlist and Cart Page Table images and utilities*/
.cart-image{
  height: 50px;
  width: 50px;
}
.responsive-table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.table td,
.table th {
  white-space: nowrap;
  min-width: 150px;
}


/* Cards Section */
.text-truncate{
  max-width: 100%;
}

/* Shop Page */
.img-thumbnail{
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* Login and Register Width */
.login-width{
  width: 600px;
}

